body {
  background-color: black;
  margin: 0;
  padding: 0;
  position: relative;
}

.one {
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
}

.nav {
  color: aliceblue;
  height: 9%;
  background-color: black;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.5s;
  z-index:auto;
}

.two {
  height: 100vh;
  width: 100%;
  background-color: rgb(220, 150, 57);
  position: relative;
}

.three {
  height: 100vh;
  width: 100%;
  background-color: rgb(137, 233, 190);
}
